    <div class="large-10 columns">
        <!-- Show the table of contacts -->

        <form ng-submit="submitForm()" ng-show="addForm">
            <h3>Add Contact</h3>
             <div class="row">
                <div class="large-6 columns">
                  <label>Name:
                    <input type="text" ng-model="name" placeholder="Contact Name" required />
                  </label>
                </div>
                <div class="large-6 columns">
                  <label>Email:
                    <input type="text" ng-model="email" placeholder="Contact Email" required />
                  </label>
                </div>
             </div>
             <div class="row">
                 <div class="large-6 columns">
                   <label>Company:
                     <input type="text" ng-model="company" placeholder="Company Name" required />
                   </label>
                 </div>
                 <div class="large-6 columns">
                   <label>Work Phone:
                     <input type="text" ng-model="work_phone" placeholder="Work Phone" required />
                   </label>
                 </div>
              </div>
              <div class="row">
                  <div class="large-6 columns">
                    <label>Mobile Phone:
                      <input type="text" ng-model="mobile_phone" placeholder="Mobile Phone" required />
                    </label>
                  </div>
                  <div class="large-6 columns">
                    <label>Home Phone:
                      <input type="text" ng-model="home_phone" placeholder="Home Phone" required />
                    </label>
                  </div>
               </div>
               <div class="row">
                   <div class="large-6 columns">
                     <label>Street Address:
                       <input type="text" ng-model="street_address" placeholder="Street Address" required />
                     </label>
                   </div>
                   <div class="large-6 columns">
                     <label>City:
                       <input type="text" ng-model="city" placeholder="City" required />
                     </label>
                   </div>
                </div>
                <div class="row">
                    <div class="large-6 columns">
                      <label>State:
                        <input type="text" ng-model="state" placeholder="State" required />
                      </label>
                    </div>
                    <div class="large-6 columns">
                      <label>Zip Code:
                        <input type="text" ng-model="zipcode" placeholder="Zip Code" required />
                      </label>
                    </div>
                 </div>
    <button class="button" type="submit">Add Contact</button>
        </form>
        <form ng-submit="editForm()" ng-show="showEditForm">
            <h3>Edit Contact</h3>
             <div class="row">
                <div class="large-6 columns">
                  <label>Name:
                    <input type="text" ng-model="name" placeholder="Contact Name" required />
                  </label>
                </div>
                <div class="large-6 columns">
                  <label>Email:
                    <input type="text" ng-model="email" placeholder="Contact Email" required />
                  </label>
                </div>
             </div>
             <div class="row">
                 <div class="large-6 columns">
                   <label>Company:
                     <input type="text" ng-model="company" placeholder="Company Name" required />
                   </label>
                 </div>
                 <div class="large-6 columns">
                   <label>Work Phone:
                     <input type="text" ng-model="work_phone" placeholder="Work Phone" required />
                   </label>
                 </div>
              </div>
              <div class="row">
                  <div class="large-6 columns">
                    <label>Mobile Phone:
                      <input type="text" ng-model="mobile_phone" placeholder="Mobile Phone" required />
                    </label>
                  </div>
                  <div class="large-6 columns">
                    <label>Home Phone:
                      <input type="text" ng-model="home_phone" placeholder="Home Phone" required />
                    </label>
                  </div>
               </div>
               <div class="row">
                   <div class="large-6 columns">
                     <label>Street Address:
                       <input type="text" ng-model="street_address" placeholder="Street Address" required />
                     </label>
                   </div>
                   <div class="large-6 columns">
                     <label>City:
                       <input type="text" ng-model="city" placeholder="City" required />
                     </label>
                   </div>
                </div>
                <div class="row">
                    <div class="large-6 columns">
                      <label>State:
                        <input type="text" ng-model="state" placeholder="State" required />
                      </label>
                    </div>
                    <div class="large-6 columns">
                      <label>Zip Code:
                        <input type="text" ng-model="zipcode" placeholder="Zip Code" required />
                      </label>
                    </div>
                 </div>
    <button class="button" type="submit">Add Contact</button>
        </form>
        <table >
            <caption>Contact Length </caption>
            <thead>
                <tr>
                    <th width="200px">Name</th>
                    <th width="200px" >Email</th>
                    <th width="25%" >Company</th>
                    <th width="250px">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="contact in contacts">
                    <td ng-model="name"><a ng-click="">{{contact.name}}</a></td>
                    <td>{{contact.email}}</td>
                    <td>{{contact.company}}</td>
                    <td>
                        <button type="button" class="success button" ng-click="editContactForm(contact)">Edit</button>
                        <button type="button" class="alert button" ng-click="deleteContact(contact)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="large-2 columns">
        <button class="button large" ng-click="showForm()" ng-hide="addForm">+</button>
        <button class="button large" ng-click="hideForm()" ng-show="addForm">-</button>

    </div>
 